# .NET
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# Rider
.idea/

# Development configuration
appsettings.Development.json

# Environment variables
.env
.env.*

# Node
node_modules/
dist/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/

# OS
.DS_Store
Thumbs.db

App_Data/